[submodule "external/llama.cpp"]
	path = external/llama.cpp
	url = https://github.com/ggml-org/llama.cpp
[submodule "external/llama-swap"]
	path = external/llama-swap
	url = https://github.com/mostlygeek/llama-swap
